<h1>Bienvenue sur Stubborn !</h1>
<p>
    Veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous :
</p>
<p>
    <a href="{{ signedUrl }}">Confirmer mon adresse</a>
</p>
<p>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
